@using FreshShop.Model.ComplexTypes.Yonetim.User
@using FreshShop.Model.Domain

@{
    ViewBag.Title = "New";
    Layout = "~/Areas/Yonetim/Views/Shared/_Layout.cshtml";
}

@model NewUserVm

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Yönetici Kayıt Formu</h3>
            </div>
            <form id="frmNewUser" role="form">
                <div class="card-body">

                    <div class="form-group">
                        <label>Rolü</label>
                        @Html.DropDownList("ddlRoles", Model.Roles,"Seçiniz...",new { id="ddlRoles",@class="form-control"})

                    </div>

                    <div class="form-group">
                        <label>Ad Soyad</label>
                        <input type="text" class="form-control" id="txtFullName" placeholder="Ad Soyad" name="txtFullName">

                    </div>
                    <div class="form-group">
                        <label>Email (Kullanıcı Adı)</label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="Email" name="txtEmail">
                    </div>
                    <div class="form-group">
                        <label>Şifre</label>
                        <input type="password" class="form-control" id="txtPassword" placeholder="Şifre" name="txtPassword">
                    </div>
                    <div class="form-group">
                        <label>Şifre Tekrar</label>
                        <input type="password" class="form-control" id="txtRePassword" placeholder="Şifre Tekrar" name="txtRePassword">
                    </div>
                    <div class="form-group">
                        <label>Fotoğraf</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fuPhoto">
                                <label class="custom-file-label">Fotoğraf Seçiniz</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="divErrorMessages"></div>


@section styles{

    <style>
        #frmNewUser label.error {
            margin-left: 10px;
            width: auto;
            display: inline;
            color: red;
        }

        #frmNewUser input.error {
            border: 1px dotted red;
        }
    </style>

}

@section scripts{
    <script src="~/Areas/Yonetim/Scripts/User/New.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}